<br>
<br>
<form [formGroup]="userForm" style="width: 80%; margin-left: 10%; margin-top:3%">
  <div class="form-group">
    <label>Phone Number:</label>
    <input type="text" class="form-control" [(ngModel)]="currentUser.phoneNumber" formControlName="phoneNumber">
    <br>
    <label>Real Name:</label>
    <input type="text" class="form-control" [(ngModel)]="currentUser.realName" formControlName="realName">
    <br>
    <label>Address:</label>
    <input type="text" class="form-control" [(ngModel)]="currentUser.address" formControlName="address">
    <br>
    <label>Avatar:</label>
    <input type="text" class="form-control" [(ngModel)]="currentUser.avatar" placeholder="Avatar" formControlName="avatar">
  </div>
  <button class="btn btn-success" [routerLink]="['']" style="float:right">Exit</button>
  <br><br>
  <div class="alert alert-success" [hidden]="!success"> Update Success!! </div>
  <!-- <button (click)="click()">click</button> -->
</form>
<br><br>
