<br>
<br>
<form [formGroup]="userForm" style="width: 80%; margin-left: 10%; margin-top:3%">
  <div class="form-group">
    <label>Old Password:</label>
    <input type="password" class="form-control" formControlName="oldPassword">
    <br>
    <label>New Password</label>
    <input type="password" class="form-control" formControlName="newPassword">
    <br>
    <label>New Password</label>
    <input type="password" class="form-control" formControlName="confirmNewPassword">
    <br>
  </div>
  <button class="btn btn-success" [routerLink]="['']" style="float:right">Exit</button>
  <button type="submit" class="btn btn-primary" (click)="update()"
  style="float:right; margin-right:1%">Save
  </button>

  <br><br>
  <div class="alert alert-success" [hidden]="!success"> Update Success!! </div>
  <div class="alert alert-danger" [hidden]="!failure"> New password does not match or null</div>
  <!-- <button (click)="click()">click</button> -->
</form>
<br><br>
