<div class="py-4" style="background-color: white;">
  <table class="col-12">
    <tbody>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Address</th>
      <th>Image</th>
      <th></th>
      <th>Actions</th>
    </tr>
      <tr *ngFor="let prop of propertyPage; let i = index">
        <td>{{i + 1}}</td>
        <td>{{prop.id}}</td>
        <td>{{prop.name}}</td>
        <td>{{prop.address}}</td>
        <td>{{prop.appImages}}</td>
        <td>
          <button class="btn btn-primary" (click)="delete(prop.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
