<div class="py-4" style="background-color: white;">
  <table>
    <tbody>
      <tr *ngFor="let prop of propertyPage index as i;">
        <div class="container emp-profile">
          <div>
            <div class="row">
              <div class="col-md-4">
                <div class="profile-img">
                  <img [src]="prop.appImages[0]" alt=""/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="profile-head">
                  <h5 [textContent]="prop.name">
                  </h5>
                  <h6>
                    {{prop.type}}
                  </h6>
                  <p class="proile-rating">Rating : <span>{{prop.rating}}/5</span></p>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="des-tab" data-toggle="tab" href="#des" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="rev-tab" data-toggle="tab" href="#rev" role="tab" aria-controls="rev" aria-selected="false">Reviews</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-md-4">
                <div class="profile-work">
                  <p>Bedroom Number</p>
                  <div href="">{{prop.bedroomNum}}</div><br/>
                  <p>Bathroom Number</p>
                  <div href="">{{prop.bathroomNum}}</div><br/>
                  <p>Address</p>
                  <div href="">{{prop.address}}</div><br/>
                </div>
              </div>
              <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                  <div class="tab-pane fade show active" id="des" role="tabpanel" aria-labelledby="des-tab">
                    <div class="row">
                      <div class="col-12">
                        <label>Description</label>
                      </div>
                      <div class="col-12">
                        <p>{{prop.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content profile-tab" id="myTabContent">
                  <div class="tab-pane fade show active" id="rev" role="tabpanel" aria-labelledby="rev-tab">
                    <div class="row"><!-- REVIEW TAB-->
                      <div class="col-12">
                        <ul>
                          <li *ngFor="let item of prop.appReviews"> ... </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
