<div style="background-color: white;">
  <br><br>
  <form [formGroup]="userForm" style="width: 80%; margin-left: 10%; margin-top:0%">
    <div class="form-group">
      <label>User Name:</label>
      <input type="text" class="form-control" [(ngModel)]="currentUser.name" placeholder="Enter name" formControlName="name" disabled>
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="text" class="form-control" [(ngModel)]="currentUser.email" formControlName="email">
      <br>
    </div>
    <div class="form-group">
      <label>Phone Number:</label>
      <input type="text" class="form-control" [(ngModel)]="currentUser.phoneNumber" formControlName="phoneNumber">
      <br>
      <label>Real Name:</label>
      <input type="text" class="form-control" [(ngModel)]="currentUser.realName" formControlName="realName">
      <br>
      <label>Address:</label>
      <input type="text" class="form-control" [(ngModel)]="currentUser.address" formControlName="address">
      <br>
      <label>Avatar:</label>
      <input type="text" class="form-control" [(ngModel)]="currentUser.avatar" placeholder="Avatar" formControlName="avatar">
    </div>
    <button class="btn btn-success" [routerLink]="['']" style="float:right">Exit</button>
    <button type="submit" class="btn btn-primary" (click)="update()"
            style="float:right; margin-right:1%">Save
    </button>
    <br><br>
    <div class="alert alert-success" [hidden]="!success"> Update Success!! </div>
    <!-- <button (click)="click()">click</button> -->
  </form>
  <br><br>
<div style="background-color: white;">

