<li class="col-12" style="height: 200px;" [id]="'reviewnha'+review.id" *ngFor="let review of reviews| paginate: { id:'reviewnha'+propid,itemsPerPage: 1, currentPage:p,totalItems: reviews.length }">
  <H3>{{review.appUser.name}}</H3>
  <span class="fa fa-star checked" *ngFor="let item of getArray(review.rating); let i = index;"></span>
  <span class="fa fa-star" *ngFor="let item of getArray(5-review.rating); let i = index;"></span>
  <p>{{review.comment}}&nbsp;</p>
</li>

<pagination-controls (pageChange)="p=$event" [id]="'reviewnha'+propid"></pagination-controls>
