<div style="background-color: white;">
  <section class="breadcumb-area bg-img bg-overlay">
    <div class="bradcumbContent">
      <p>{{currentUser.name}}</p>
      <h2>LIST HOUSE FOR RENT</h2>
    </div>
  </section>
  <br>
  <br>

  <form [formGroup]="userForm" style="width: 80%; margin-left: 10%; margin-top:3%">
    <div class="form-group">
      <div class="col-md-6 p-0">
        <div class="file-field">
          <div class="z-depth-1-half">
            <img [src]="imgLink" class="img-fluid"
              alt="example placeholder">
          </div>
          <div class="">
            <div class="btn btn-mdb-color btn-rounded float-left p-0 my-1">
              <span>Choose file</span>
              <input type="file" (change)="checkCoverArtFile($event)" accept=".png,.jpg"><br>
              <div class="result" *ngIf="downloadURL | async; let uploadSrc">
                <a [href]="uploadSrc">You just uploaded this file!</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>


    <div class="form-group">
      <label>House Name<sup style="color: red;">*</sup>:</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger my-1">
        <div *ngIf="name.errors.required" class="my-1">
          User Name Not Empty
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>House Images<sup style="color: red;">*</sup>:</label>
      <input type="text" class="form-control" formControlName="appImages" placeholder="Enter image">
    </div>
    <div class="form-group">
      <label>House Status:</label>
      <select class="form-control" formControlName="status">
        <option [selected]="true">Available</option>
        <option>Not Available</option>
      </select>
    </div>
    <div class="form-group">
      <label>Type<sup style="color: red;">*</sup> :</label>
      <select class="form-control" formControlName="type">
        <option [selected]="true">Single</option>
        <option>Double</option>
        <option>Presidential</option>
        <option>Vip</option>
        <option>Luxury</option>
      </select>
    </div>
    <div class="form-group">
      <label>Number of Bedrooms<sup style="color: red;">*</sup> :</label>
      <select class="form-control" formControlName="bedroomNum">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </div>
    <div class="form-group">
      <label>Number of Bathroom<sup style="color: red;">*</sup> :</label>
      <select class="form-control" formControlName="bathroomNum">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>

    <div class="form-group">
      <label>Description<sup style="color: red;">*</sup>:</label>
      <textarea class="form-control" formControlName="description" placeholder="Enter description..."></textarea>
        <div *ngIf="description.errors?.required && (description.dirty || description.touched)" class="my-1 alert alert-danger">
          Description Required
        </div>
    </div>
    <div class="form-group">
      <label>Address<sup style="color: red;">*</sup>:</label>
      <textarea class="form-control" formControlName="address" placeholder="Enter description..."></textarea>
        <div *ngIf="address.errors?.required &&(address.dirty || address.touched)" class="my-1 alert alert-danger">
          Address Required
      </div>
    </div>
    <div class="form-group">
      <label>Price per day<sup style="color: red;">*</sup>: </label>
      <input type="number" class="form-control" formControlName="pricePerDay" placeholder="Enter Price Per Day">
      <div *ngIf="pricePerDay.invalid && (pricePerDay.dirty || pricePerDay.touched)"
          class="alert alert-danger my-1">
        <div *ngIf="pricePerDay.errors.required" class="my-1">
          input price
        </div>
      </div>
    </div>
    <br>
    <div class="form-group">
      <button class="btn btn-success" [routerLink]="['']" style="float:right">Exit</button>
      <button type="submit" class="btn btn-primary" (click)="createHouse()"
              style="float:right; margin-right:1%">Save
      </button>
    </div>
    <br>
    <br>
    <div *ngIf="message!=null&&message!='Success!!!'"class="alert alert-danger my-1">
      <div [innerHTML]="message">
      </div>
    </div>
    <div *ngIf="message=='Success!!!'"class="alert alert-success my-1">
      <div [innerHTML]="message">
      </div>
    </div>
  </form>
  <br>
</div>
