
<section class="hero-area">
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" >
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/bg-img/3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Let Chill</h5>
            <p>Best House Ever</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/bg-img/2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Are You Ready ?</h5>
            <p>For new evolution</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/bg-img/1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Travel</h5>
            <p>All around the world</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
